<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source=127.0.0.1;DataBase=SitecoreCommerce_SharedEnvironments;User ID=sa;Password=123456"></add>
		<add key="dbandTableName" value="SitecoreCommerce_SharedEnvironments.sitecore_commerce_storage.CustomersEntity"></add>
	</appSettings>
</configuration>